
/*---------------------
 	Contact Section
---------------------*/

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/Helvetica.woff2') format('woff2'),
		url('../fonts/helvetica/Helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


.contact-section{
	height: calc(100vh - 252px);
	min-height: 380px;
	position: relative;
	justify-content: flex-start;
	text-align: left;
	align-items: flex-start;
	background-color: rgba(255, 255, 255, .8);
}

.contact-section h3.title{
	margin: 0;
}

.contact-section .card-wrapper {
	height: 100%;
	display: flex;
	align-self: center;
	justify-content: center;
}

.contact-section .card {
	height: 200px;
	width: 327px;
	position: relative;
	align-self: center;
	padding: 20px 120px 20px 40px;
}

.contact-section .card .items {
	margin-top: 60px;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}
.contact-section .card .item {
	font-family: 'Helvetica';
	line-height: 18px;
	font-size: 12px;
	color: rgb(0, 25, 109);
	z-index: 2;
	position: relative;
}


.contact-section .card .background-image{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border: 1px solid silver;
}


@media (max-width: 1000px){
	.contact-section{
		height: calc(100vh - 252px);
	}

	.contact-section h3.title{
		margin-bottom: 0;
	}
}


@media (max-width: 600px){
	.contact-section{
		height: calc(100vh - 218px);
		min-height: 0;
	}

	.contact-section h3.title{
		margin-bottom: 0;
	}

	.contact-section .card {
		font-size: 8px;
	}


}
