/*-------------
 	General
-------------*/
@import url('https://fonts.googleapis.com/css?family=Anton&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #FFFFFF;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 80px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}


section h3.title{
	color: rgb(98, 146, 237);
	text-transform: uppercase;;
	font-style: italic;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 35px;
	text-align: left;
}

section h2.sub-title{
	color: #414a4f;
	text-transform: capitalize;
	font-size: 32px;
	font-weight: 200;
	margin-top: 12px;
	margin-bottom: 12px;
}

section p{
	max-width: 800px;
	text-align: left;
	margin-bottom: 70px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu-aside {
	position: fixed;
	width: 300px;
	height: 100vh;
	color: rgb(98, 146, 237);
	text-transform: uppercase;;
	font-style: italic;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	right: -300px;
	transition: right 0.5 ease;
	text-align: right;
	z-index: 900;
}

.menu-aside ul {
	height: 100%;
	padding: 5px 40px 0 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

.menu-aside ul li {
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .5s ease;
	z-index: 900;
}
.menu-aside ul li:hover {
	opacity: 1;
}

.menu-aside .close-button {
	margin-right: 40px;
	height: 64px;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .5s ease;
	z-index: 900;
}

.menu-aside .close-button:hover {
	opacity: 1;
}


/*-------------
 	Header
-------------*/

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
	padding: 10px;
	width: 100%;
	background-color: transparent;
	transition: background-color 1.5s ease;
	z-index: 200;
}


@media (max-width: 1000px){

}


@media (max-width: 700px){
}



/*----------------
 	Hero Section
----------------*/

.hero{
	padding: 0;
	position: relative;
	justify-content: space-between;;
	min-height: 100vh;
	text-align: left;
	align-items: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
	opacity: 0.8;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.20;
}

.hero-splash-container {
	width: 100%;
	justify-content: center;
}

.hero .hero-menu-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;

}

.hero .hero-menu-container .menu {
	width: 200px;
	color: white;
	font-size: 35px;
	padding: 17.5px 40px;
}

.hero .hero-menu-container .menu i {
	float: right;
	opacity: 0.8;
	transition: opacity	.5s ease;
	cursor: pointer;
}

.hero .hero-menu-container .menu i:hover {
	opacity: 1;
}

.hero h1{
	margin-bottom: 50px;
}

.hero .logo-splash {
	color: white;
	text-align: center;
}

.hero .logo-splash h1 {
	font-size: 55px;
	font-weight: 200;
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
}

.hero a.btn {
	background-color: rgb(98, 146, 237);
	padding: 16px 40px;
	color: white;
}

.hero .contact-options {
	transition: opacity 0.8s ease;
	opacity: 0;
	visibility: hidden;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
}

.hero ul{
	display: flex;
	margin: 15px 0;
	font-size: 32px;
	color: rgb(98, 146, 237);
	font-size: 50px;
}

.hero ul li{
	margin: 0 8px;
}

.hero ul li:first-child{
	margin-left: 0;
}

.hero ul li:last-child{
	margin-right: 0;
}

.hero .get-in-touch {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.hero .get-in-touch > * {
	width: 200px;
}

.hero .get-in-touch .menu {
	color: rgb(98, 146, 237);
	padding: 7.5px 30px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s ease;
}

.hero .get-in-touch .menu i {
	float: right;
	cursor: pointer;
	font-size: 35px;
}

.hero .get-in-touch .logo {
	padding-left: 30px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s ease;
}

.hero .get-in-touch .logo img {
	height: 50px;
	cursor: pointer;
}


/*--------------------
 	About Section
---------------------*/

.about{
	position: relative;
	justify-content: flex-start;
	min-height: 100vh;
	text-align: left;
	align-items: flex-start;
	/*border-bottom: 1px solid silver;*/
}

.about .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
	opacity: 0.8;
}

.about .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.7;
}

.about h1{
	margin-bottom: 15px;
}


/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.our-work .grid li {
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.our-work .grid li .service-image{

	background-color: #333;
}

.our-work .grid .left {
	text-align: right;
}

.our-work .grid .left p {
	text-align: right;
}

.our-work .grid .right {
	text-align: left;
}

.our-work .grid .right p {
	text-align: left;
}

.our-work .grid .service-description{

}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/


.reviews{
	position: relative;
	justify-content: flex-start;
	min-height: 100vh;
	text-align: left;
	align-items: flex-start;
}

.reviews .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
	opacity: 0.8;
}

.reviews .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.8;
}

.reviews .quote{
	text-align: left;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
		margin-left: 40px;
    padding: 0;
}

.reviews .quote-marks {
	font-size: 38px;
	font-weight: 600;
	color: silver;
	line-height: 22px;
}

.reviews .author{
    font-size: 18px;
		font-weight: 200;
    margin-bottom: 50px;
		margin-left: 60px;
		font-style: italic;
		text-align: right;
		color: grey;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	position: relative;
	justify-content: flex-end;
	text-align: left;
	align-items: flex-start;
}

.contact .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -2;
}

.contact .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.8;
}

.contact .card {
	font-size: 14px;
	position: relative;
	align-self: center;
	padding: 20px 120px 20px 40px;
	border: 1px solid silver;
	/*background-color: #ffffff;*/
}

.contact .card .card-body {
	padding: 5px 10px;
}

.contact .card .card-body .item {
	padding: 3px;
}

.contact .card .card-body .item i {
	color: silver;
	margin-right: 10px;
}


.contact .card .logo {
	width: 300px;
}

.contact .card .card-background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
	background-image: url(../img/fon_background.png);
}

.contact .card .card-background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.8;
}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: rgb(98, 146, 237);
	padding: 40px 0 10px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

footer .logo {
	height: 35px;
	margin-bottom: 2px;
}

footer h1 {
	font-size: 15px;
	font-weight: 200;
	color: white;
	text-align: center;
	/*letter-spacing: 70px;*/
	font-family: 'Lobster', cursive;
	margin-bottom: 10px;

}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}
