/*-------------
 	General
-------------*/
@import url('https://fonts.googleapis.com/css?family=Anton&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body{
	overflow-x: hidden;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #FFFFFF;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 40px 100px 80px 100px;
}

section h3.title{
	color: rgb(98, 146, 237);
	text-transform: uppercase;;
	font-style: italic;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 35px;
	text-align: left;
}

section h2.sub-title{
	color: #414a4f;
	text-transform: capitalize;
	font-size: 32px;
	font-weight: 200;
	margin-top: 12px;
	margin-bottom: 12px;
}

section p{
	max-width: 800px;
	text-align: left;
	margin-bottom: 40px;
	padding: 0 20px;
	line-height: 2;
}

.menu-aside {
	position: fixed;
	padding: 5px 40px 0 20px;
	width: 300px;
	height: 100vh;
	color: rgb(98, 146, 237);
	text-transform: uppercase;;
	font-style: italic;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	background-color: rgba(255, 255, 255, 0.8);
	right: -300px;
	text-align: right;
	z-index: 900;
}

.menu-aside ul li {
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .5s ease;
	z-index: 900;
}
.menu-aside ul li:hover {
	opacity: 1;
}

.menu-aside .close-button {
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .5s ease;
	z-index: 900;
}

.menu-aside .close-button:hover {
	opacity: 1;
}

@media (max-width: 1000px){

	section{
		padding: 40px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 60px 30px;
	}

	section h3.title{
		color: rgb(98, 146, 237);
		text-transform: uppercase;;
		font-style: italic;
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 35px;
		text-align: left;
	}

	section p{
		text-align: left;
		margin-bottom: 40px;
		padding: 0 10px;
		line-height: 1.5;
	}

}

@media (max-width: 400px){

	section{
		padding: 30px 30px 80px 30px;
	}

	section h3.title{
		color: rgb(98, 146, 237);
		text-transform: uppercase;;
		font-style: italic;
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 25px;
		text-align: left;
	}

	section p{
		text-align: left;
		margin-bottom: 40px;
		padding: 0 10px;
		line-height: 1.5;
		font-size: 15px;
	}

}


/*-------------
 	Header
-------------*/

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	transition: background-color 1.5s ease;
	z-index: 200;
}


@media (max-width: 600px){

	.menu-aside {
		padding: 12px 20px 0 20px;
		font-weight: 600;
		font-size: 30px;
		line-height: 50px;
		width: 200px;

	}

	.menu-aside i {
		font-size: 35px;
	}

	.floatingHeader {
		transition: none !important;;
	}

}

/*----------------
 	Home Section
----------------*/

.home-section{
	padding: 0;
	position: relative;
	justify-content: space-between;;
	min-height: 100vh;
	text-align: left;
	align-items: center;
	background-color: rgba(255, 255, 255, .3);
}

.home-section .background-image{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.home-section .background-image img{
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	height: 100vh;
}

.home-splash-container {
	width: 100%;
	justify-content: center;
}

.home-section .home-menu-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;

}

.home-section .home-menu-container .menu {
	width: 200px;
	color: white;
	font-size: 35px;
	padding: 17.5px 40px;
}

.home-section .home-menu-container .menu i {
	float: right;
	opacity: 0.8;
	transition: opacity	.5s ease;
	cursor: pointer;
}

.home-section .home-menu-container .menu i:hover {
	opacity: 1;
}

.home-section h1{
	margin-bottom: 50px;
}

.home-section .logo-splash {
	color: white;
	text-align: center;
}

.home-section .logo-splash h1 {
	font-size: 100px;
	line-height: 50px;
	font-weight: 100;
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
}

.home-section .logo-splash h3 {
	font-size: 40px;
	font-weight: 200;
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
	margin: 80px 0 50px 0;
}

.home-section a.btn {
	background-color: rgb(98, 146, 237);
	padding: 16px 40px;
	color: white;
}

.home-section .contact-options {
	transition: opacity 0.8s ease;
	opacity: 0;
	visibility: hidden;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
}

.home-section ul{
	display: flex;
	margin: 15px 0;
	font-size: 32px;
	color: rgb(98, 146, 237);
	font-size: 50px;
}

.home-section ul li{
	margin: 0 8px;
}

.home-section ul li:first-child{
	margin-left: 0;
}

.home-section ul li:last-child{
	margin-right: 0;
}

.home-section .get-in-touch {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.home-section .get-in-touch > * {
	width: 200px;
}

.home-section .get-in-touch .menu {
	color: rgb(98, 146, 237);
	padding: 7.5px 30px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s ease;
}

.home-section .get-in-touch .menu i {
	float: right;
	cursor: pointer;
	font-size: 35px;
}

.home-section .get-in-touch .logo {
	padding-left: 30px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s ease;
}

.home-section .get-in-touch .logo img.flat {
	height: 50px;
	cursor: pointer;
}

.home-section .get-in-touch .logo img.stacked {
	display: none;
}

#header{
	display: flex;
}

@media (max-width: 1000px){
	.home-section .logo-splash img{
		width: 100%;
		padding: 30px;
	}
}

@media (max-width: 600px){
	body{
		overflow-x: hidden;
	}

	.home-section .home-menu-container .menu {
		width: 100px;
		font-size: 30px;
		padding: 20px 20px;
	}

	.home-section .logo-splash img{
		width: 100%;
		padding: 0 20px 0 20px;
	}

	.home-section .logo-splash h1 {
		font-size: 40px;
		line-height: 25px;
		margin-bottom: 30px;
	}

	.home-section .logo-splash h3 {
		font-size: 30px;
		margin: 0 50px 40px 50px;
	}

	.home-section .get-in-touch > * {
		width: 60px;
	}

	.home-section .get-in-touch a.btn {
		width: 100px;
		font-size: 10px;
		padding: 8px 5px;
		height: 30px;
		margin-top: 10px;
	}

	.home-section .get-in-touch .logo img.flat {
		height: 30px;
		margin-top: 10px;
		cursor: pointer;
	}

	.home-section .get-in-touch .logo {
		padding-left: 5px;
		transition: none;
	}



	.home-section .get-in-touch .menu {
		padding: 10px 10px;
		transition: none;
	}

	.home-section .get-in-touch .menu i {
		float: right;
		cursor: pointer;
		font-size: 30px;
	}

}

@media (max-width: 400px){
	.home-section .logo-splash img{
		width: 100%;
		padding: 10px;
	}

	.home-section .logo-splash h3 {
		font-size: 25px;
		margin: 0 20px 40px 20px;
	}

	.home-section .get-in-touch .logo img.flat {
		display: none;
	}

	.home-section .get-in-touch .logo img.stacked {
		display: block;
		margin-top: 5px;
		height: 40px;
	}
}



/*--------------------
 	Services Section
---------------------*/

.services-section {
		background-color: white;
}

.services-section .grid {
	margin-left: 30px;
	justify-content: flex-start;
}

.services-section .grid li {
	flex-direction: column;
}

.services-section .grid .service {
		overflow: hidden;
}

.services-section .grid .service .service-detail {
	display: none;
	padding-left: 20px;
}

.services-section .grid .service .service-detail .service-image{
	float: right;
	padding: 10px;
	min-width: 220px;
}

.services-section .grid .service .service-title {
	color: #414a4f;
	/*text-transform: capitalize;*/
	font-size: 26px;
	font-weight: 200;
	margin-top: 12px;
	margin-bottom: 12px;
	cursor: pointer;
}

.services-section .grid .service .service-title .short-name {
	display: none;
}

.services-section .grid .service .service-title i{
	width: 15px;
	font-size: 20px;
	vertical-align: middle;
	margin-bottom: 10px;
	color: silver;
	display: inline;
}


@media (max-width: 600px){

	.services-section .grid {
		margin-left: 0;
	}

	.services-section .grid .service .service-detail .service-image{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}

	.services-section .grid .service .service-title {
		font-size: 18px;
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.services-section .grid .service .service-title i{
		display: inline-block;
		width: 10px;
		margin-bottom: 5px;
	}

	.services-section .grid .service .service-detail {
		display: none;
		padding-left: 0;
	}

	.services-section .grid .service .service-title .short-name {
		display: inline;
	}

	.services-section .grid .service .service-title .long-name {
		display: none;
	}


}


/*--------------------
 	Feedback Section
--------------------*/


.feedback-section{
	position: relative;
	justify-content: flex-start;
	min-height: 100vh;
	text-align: left;
	align-items: flex-start;
	background-color: rgba(255, 255, 255, .7);
}

.feedback-section .quote{
	text-align: left;
	width: 80%;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
	margin-left: 40px;
  padding: 0;
}

.feedback-section .quote-marks {
	font-size: 38px;
	font-weight: 600;
	color: silver;
	line-height: 22px;
}

.feedback-section .author{
    font-size: 18px;
		font-weight: 200;
    margin-bottom: 50px;
		margin-left: 60px;
		font-style: italic;
		text-align: right;
		color: grey;
}

.feedback-section .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 600px){

	.feedback-section .quote{
		font-size: 13px;
		margin-left: 20px;
	}

	.feedback-section .quote-marks {
		font-size: 32px;
		font-weight: 600;
		color: silver;
		line-height: 13px;
	}

	.feedback-section .author{
	    font-size: 14px;
			align-self: flex-end;
			padding-right: 60px;
	}

}


/*--------------------
 	About Section
---------------------*/

.about-section{
	position: relative;
	justify-content: flex-start;
	min-height: 100vh;
	text-align: left;
	align-items: flex-start;
	background-color: white;
}

.about-section .background-image.large {
	display: block;
}

.about-section .background-image.medium {
	display: none;
}

.about-section .background-image.small {
	display: none;
}

.about-section .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
	/*opacity: 0.4;*/
}

.about-section .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.7;
}

.about-section h1{
	margin-bottom: 15px;
}

@media (max-width: 1200px){
	.about-section .background-image:after{
			opacity: 0.9;
	}

	.about-section .background-image.large {
		display: none;
	}

	.about-section .background-image.medium {
		display: block;
	}

	.about-section .background-image.small {
		display: none;
	}
}

@media (max-width: 600px){
	.about-section .background-image:after{
			opacity: 0.9;
	}

	.about-section .background-image.large {
		display: none;
	}

	.about-section .background-image.medium {
		display: none;
	}

	.about-section .background-image.small {
		display: block;
	}
}

/*---------------------
 	Contact Section
---------------------*/

.contact-section{
	height: calc(100vh - 252px);
	min-height: 380px;
	position: relative;
	justify-content: flex-start;
	text-align: left;
	align-items: flex-start;
	background-color: rgba(255, 255, 255, .7);
}

.contact-section h3.title{
	margin: 0;
}

.contact-section .card-wrapper {
	height: 100%;
	display: flex;
	align-self: center;
	justify-content: center;
}

.contact-section .card {
	font-size: 14px;
	position: relative;
	align-self: center;
	padding: 20px 120px 20px 40px;
	border: 1px solid silver;
}

.contact-section .card .card-body {
	padding: 5px 10px;
}

.contact-section .card .card-body .item {
	padding: 3px;
}

.contact-section .card .card-body .item i {
	color: silver;
	margin-right: 10px;
}


.contact-section .card .logo {
	width: 300px;
}

.contact-section .card .title {
	margin-bottom: 10px;
}

.contact-section .card .card-background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #FFFFFF;
	z-index: -1;
	background-image: url(../img/fon_background.png);
}

.contact-section .card .card-background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.8;
}

@media (max-width: 1000px){
	.contact-section{
		height: calc(100vh - 218px);
	}

	.contact-section h3.title{
		margin-bottom: 0;
	}
}


@media (max-width: 600px){
	.contact-section{
		height: calc(100vh - 218px);
		min-height: 0;
	}

	.contact-section h3.title{
		margin-bottom: 35px;
	}

	.contact-section .card {
		font-size: 8px;
	}

	.contact-section .card .card-body {
		padding: 5px 5px;
	}

	.contact-section .card .logo {
		width: 200px;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: rgb(98, 146, 237);
	padding: 40px 0 10px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

footer .logo {
	height: 35px;
	margin-bottom: 2px;
}

footer h1 {
	font-size: 15px;
	font-weight: 200;
	color: white;
	text-align: center;
	/*letter-spacing: 70px;*/
	font-family: 'Lobster', cursive;
	margin-bottom: 10px;

}

@media (max-width: 600px){

	footer{
		padding: 20px 15px 0 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}
