/*-------------
 	General
-------------*/

@font-face {
    font-family: 'snell_roundhandregular';
    src: url('../fonts/snell-roundhand/snellroundhand-webfont.woff2') format('woff2'),
         url('../fonts/snell-roundhand/snellroundhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'snell_roundhandbold';
    src: url('../fonts/snell-roundhand/snellroundhand-bold-webfont.woff2') format('woff2'),
         url('../fonts/snell-roundhand/snellroundhand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'snell_roundhandblack';
    src: url('../fonts/snell-roundhand/snellroundhand-black-webfont.woff2') format('woff2'),
         url('../fonts/snell-roundhand/snellroundhand-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body{
	overflow-x: hidden;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	font-weight: 800;
	text-align: center;
	font-size: 18px;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #FFFFFF;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 40px 100px 74px 100px;
}

section h3.title{
	color: rgb(89, 147, 255);
	font-size: 80px;
	font-weight: 100;
	margin-bottom: 35px;
	text-align: left;
    line-height: 60px;
    margin-bottom: 70px;
	z-index: 1001;
	font-family: 'snell_roundhandblack';
}

section h2.sub-title{
	color: #414a4f;
	text-transform: capitalize;
	font-size: 32px;
	font-weight: 200;
	margin-top: 12px;
	margin-bottom: 12px;
}

section p{
	max-width: 800px;
	text-align: left;
	margin-bottom: 40px;
	padding: 0 20px;
	line-height: 2;
}

.menu-aside {
	position: fixed;
	right: 0;
	width: 300px;
	height: 100vh;
	z-index: -1003;
}

.menu-aside .menu-body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px 40px 0 20px;
	right: -100%;
	transition: right 0.5s;
    color: rgb(98, 146, 237);
	font-weight: 400;
	font-size: 50px;
	line-height: 70px;
	text-align: right;
}

.menu-aside ul li {
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .5s ease;
    font-family: 'snell_roundhandblack';
	z-index: 900;
}
.menu-aside ul li:hover {
	opacity: 1;
}

.menu-aside .close-button {
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .5s ease;
	z-index: 900;
}

.menu-aside .close-button:hover {
	opacity: 1;
}

@media (max-width: 1000px){

	section{
		padding: 60px 50px 74px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 40px 30px 74px 30px;
	}

	section h3.title{
		font-style: italic;
		font-size: 48px;
		margin-bottom: 0px;
		text-align: left;
	}

	section p{
		text-align: left;
		margin-bottom: 40px;
		padding: 0 10px;
		line-height: 1.5;
	}

}

@media (max-width: 400px){

	section{
		padding: 30px 30px 74px 30px;
	}

	section h3.title{
		color: rgb(98, 146, 237);
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 25px;
		text-align: left;
	}

	section p{
		text-align: left;
		margin-bottom: 40px;
		padding: 0 10px;
		line-height: 1.5;
		font-size: 15px;
	}

}

/*-------------
 	Header
-------------*/

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	transition: background-color 1.5s ease;
	z-index: 1002;
	height: 75px;
	box-shadow: 0 2px 2px rgba(50,50,50,0.1);
}


@media (max-width: 600px){

	.menu-aside {
		width: 200px;
	}

	.menu-aside .menu-body {
		padding: 12px 20px 0 20px;
		font-weight: 400;
		font-size: 30px;
		line-height: 50px;
	}

	.menu-aside i {
		font-size: 35px;
	}

	.floatingHeader {
		transition: none !important;
	}

}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
    justify-content: space-around;
	color: rgb(157, 189, 249);
	background-color: #fff;
	padding: 40px 0 10px 0;
	min-height: 178px;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 10px;
}

footer p a{
}

footer .logo {
	height: 35px;
	margin-bottom: 2px;
	opacity: 0.7;
}

footer h1 {
	font-size: 20px;
	line-height: 0px;
	font-weight: 200;
	text-align: center;
	font-family: 'snell_roundhandbold';
	margin-bottom: 20px;

}

footer .spacer {
    width: 55px;
}

footer .forest-and-bird {
    position: relative;
    top: -15px;
    width: 55px;
}

@media (max-width: 600px){

	footer{
		padding: 20px 15px 0 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}
